/* Tối ưu trải nghiệm chạm trên Điện thoại */
button,
input,
select {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/* Áp dụng cho màn hình nhỏ hơn 640px (Điện thoại) */
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }

  /* Ô tìm kiếm & Nút bấm to hơn dễ bấm bằng ngón tay */
  input[type="text"] {
    font-size: 16px !important; /* Ngăn iOS tự động zoom khi gõ */
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }

  /* Nút thao tác rộng rãi hơn */
  button {
    min-height: 40px;
  }
}
